body{
	background: url(../images/desert.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	text-align: center;
}

@media(max-width: 320px) {
  	body{
  		background-color: #339966;
  	}

  }

  #carousel-example-generic{
  	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
  }

  #button{
  	background-color: #c0392b;
  	height: 50px;
  	width: 75px;
  	font-family: 'Concert One', cursive;

  }

  #text{
  	font-family: 'Concert One', cursive;
  }

  #text1{
	margin-top: 80px;
	color: #4040E6;
  	font-family: 'Concert One', cursive;
  }

  .up {
  -webkit-box-shadow: 1px 1px 0 #c0392b, 2px 2px 0 #c0392b, 3px 3px 0 #c0392b, 4px 4px 0 #c0392b, 5px 5px 0 #c0392b;
  -webkit-transition: all 0.1s linear;
}
.up:hover {
  -webkit-box-shadow: 1px 1px 0 #c0392b, 2px 2px 0 #c0392b, 3px 3px 0 #c0392b, 4px 4px 0 #c0392b, 5px 5px 0 #c0392b, 6px 6px 0 #c0392b, 7px 7px 0 #c0392b, 8px 8px 0 #c0392b, 8px 8px 0 #c0392b, 9px 9px 0 #c0392b, 10px 10px 0 #c0392b;
  -webkit-transform: translate3d(-5px, -5px, -5px);
}